body { 
}

.navbar-fixed-top {
    z-index: 10;
    background: #213c48;
/*    opacity: 0.3;*/
}

.navbar {
    border: none;
}

svg.game {
    background: rgba(72,118,180,1);
}

rect.hole {
	fill: black;
}

rect.hole.inserted {
	fill: yellow;
}


#cube-hitarea {
	position: absolute;
	width: 125px;
	height: 125px;
/*	cursor: pointer;*/
	z-index: 0;
}

#cube {
	position: absolute;
	left: 25px;
	top: 25px;
	width: 74px;
	height: 74px;
	backface-visibility: visible;
/*	pointer-events: none;*/
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: center center;
	-webkit-backface-visibility: visible;
	-webkit-transform: rotateX(-45deg) rotateY(50deg);
	-webkit-transition: -webkit-transform 1s;
}

.side {
	position: absolute;
	top: 0;
	left: 0;
	width: 74px;
	height: 74px;
/*	pointer-events: none;*/
	backface-visibility: visible;
	-webkit-transform-origin: center center;
}

#cube .side:nth-child(1) {
	-webkit-transform: translateY(37px) rotateX(90deg);
}
#cube .side:nth-child(2) {
	-webkit-transform: translateY(-37px) rotateX(-90deg);
}
#cube .side:nth-child(3) {
	-webkit-transform: translateX(37px) rotateY(90deg);
}
#cube .side:nth-child(4) {
	-webkit-transform: translateX(-37px) rotateY(-90deg);
}
#cube .side:nth-child(5) {
	-webkit-transform: translateZ(37px);
}
#cube .side:nth-child(6) {
	-webkit-transform: translateZ(-37px) scale(-1,1);
}

.sword {
	display: block;
	width: 80px;
	height: 120px;
	position: fixed;
	left: 110px;
	top: 300px;
	background-image: url(../img/game/greenSword_l.png);
	background-repeat: no-repeat;
	background-size: 80px 60px;
	background-position: 0px 60px;

	-webkit-transition:all 0.5s;
 	-moz-transition:all 0.5s;
 	 -o-transition:all 0.5s;
  	transition:all 0.5s;
}

.insert-anime {
	width: 40px;

	-webkit-transform: translate(40px,-20px);
    -moz-transform: translate(40px,-20px);
    -o-transform: translate(40px,-20px);
    -ms-transform: translate(40px,-20px);
    transform: translate(40px,-20px);
	
}


.sword-right {
	display: block;
	width: 80px;
	height: 150px;
	position: fixed;
	left: 110px;
	top: 300px;
	background-image: url(../img/game/greenSword_R.png);
	background-repeat: no-repeat;
	background-size: 80px 60px;
	background-position: 0px 60px;

	-webkit-transition:all 0.5s;
 	-moz-transition:all 0.5s;
 	 -o-transition:all 0.5s;
  	transition:all 0.5s;
}

.insert-anime-right {
	background-position: -40px 60px;
	width: 40px;

	-webkit-transform: translate(-40px,-20px);
    -moz-transform: translate(-40px,-20px);
    -o-transform: translate(-40px,-20px);
    -ms-transform: translate(-40px,-20px);
    transform: translate(-40px,-20px);
	
}

svg image {
	opacity: 0;
	display: none;
}

svg image.show {
	opacity: 1;
}





#cube-headarea {
	position: absolute;
	width: 125px;
	height: 125px;
/*	cursor: pointer;*/
	z-index: 0;
}

#cube-head {
	position: absolute;
	left: 25px;
	top: 25px;
	width: 74px;
	height: 74px;
	backface-visibility: visible;
/*	pointer-events: none;*/
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: center center;
	-webkit-backface-visibility: visible;
	-webkit-transform: rotateX(-45deg) rotateY(50deg);
	-webkit-transition: -webkit-transform 1s;
}

#cube-head.popped {
	top:-200px;	
}

#cube-head .side {
	position: absolute;
	top: 0;
	left: 0;
	width: 74px;
	height: 74px;
/*	pointer-events: none;*/
	backface-visibility: visible;
	-webkit-transform-origin: center center;
}

#cube-head .side:nth-child(1) {
	-webkit-transform: translateY(37px) rotateX(90deg);
}
#cube-head .side:nth-child(2) {
	-webkit-transform: translateY(-37px) rotateX(-90deg);
}
#cube-head .side:nth-child(3) {
	-webkit-transform: translateX(37px) rotateY(90deg);
}
#cube-head .side:nth-child(4) {
	-webkit-transform: translateX(-37px) rotateY(-90deg);
}
#cube-head .side:nth-child(5) {
	-webkit-transform: translateZ(37px);
}
#cube-head .side:nth-child(6) {
	-webkit-transform: translateZ(-37px);
}



