<!--
<a href="#/camera"><h1>camera</h1></a>
-->
<div>
    <a class="scale" href="#/main"><img class="back" src="../img/game/buttonBack.png" height="12%" width="12%"></a>
    <a class="scale" href="#/photo"><img class="right back" src="../img/game/buttonPhoto.png" height="12%" width="12%"></a>
</div>

<div class="cameraContainer">
    <img src="" id="cameraIMG"/>
    <img src="./img/game/picture.png" id="pirateFace"/>
    <video autoplay id="cameraVideo" />
</div>


<div class="middle">
    <a id="retake" style="visibility:hidden" ng-click="retake()"><img src="./img/game/buttonRetake.png" height="40" width="40"></a>
    <a id="Camerabutton"><img src="./img/game/buttonRecord.png" height="70" width="70"></a>
    <a id="save" style="visibility:hidden"><img src="./img/game/buttonSave.png" height="40" width="40"></a>
</div>







