<!--
<a href="#/camera"><h1>camera</h1></a>
-->
<a href="#/main"><img src="../img/game/buttonBack.png" height="23" width="31"></a>

<div class="cameraContainer"></div>
    <video autoplay id="cameraVideo" style="width:100% height:{{videoHeight}}px"> </video>
    <img src="" id="cameraIMG"/>
    <img src="./img/game/picture.png" id="pirateFace"/>
</div>



<div class="center">
    <button id="retake" style="visibility:hidden" ng-click="retake()"><img src="./img/game/buttonRetake.png" height="20" width="20"></button>
    <button id="Camerabutton"><img src="./img/game/buttonRecord.png" height="50" width="50"></button>
    <button id="save" style="visibility:hidden"><img src="./img/game/buttonSave.png" height="20" width="20"></button>
</div>
<a href="#/photo"><h3>Photo Library</h3></a>






