<nav class="navbar navbar-default navbar-fixed-top">
  	<div id="container"> 
  	</div>
</nav>

<div 
	id="cube-hitarea" 
	style="left: {{boxLeft}}px; 
		   top: {{boxTop}}px; 
		   -ms-transform: scale({{boxScale}},{{boxScale}}); 
		   -webkit-transform: scale({{boxScale}},{{boxScale}});
		   transform: scale({{boxScale}},{{boxScale}});"
	ng-click="set()">
	<div id="cube" style="-webkit-transform: rotateX(-20deg) rotateY(-30deg) rotateZ(0deg);" >
		<svg class="side" width="100px" height="100px">
			<rect fill="#DAD6CC" width="74" height="74"></rect>
		</svg>
		<svg class="side" width="100px" height="100px">
			<rect fill="#DAD6CC" width="74" height="74"></rect>
		</svg>
		<svg class="side" width="100px" height="100px">
			<rect fill="#DAD6CC" width="74" height="74"></rect>
			<g>
				<rect fill="black" x="22" y="15" width="7" height="20"></rect>
				<rect fill="black" x="45" y="15	" width="7" height="20"></rect>
				<rect fill="black" x="22" y="45" width="7" height="20"></rect>
				<rect fill="black" x="45" y="45" width="7" height="20"></rect>
			</g>
		</svg>
		<svg class="side" width="100px" height="100px">
			<rect fill="#dddddd" width="74" height="74"></rect>
			<g>
				<rect fill="black" x="22" y="15" width="7" height="20"></rect>
				<rect fill="black" x="45" y="15	" width="7" height="20"></rect>
				<rect fill="black" x="22" y="45" width="7" height="20"></rect>
				<rect fill="black" x="45" y="45" width="7" height="20"></rect>
			</g>
		</svg>
		<svg class="side" width="100px" height="100px">
			<rect fill="#cccccc" width="74" height="99"></rect>
			<<g>
				<rect class="hole" fill="black" x="22" y="15" width="7" height="20"></rect>
				<rect class="hole" fill="black" x="45" y="15	" width="7" height="20"></rect>
				<rect class="hole" fill="black" x="22" y="45" width="7" height="20"></rect>
				<rect class="hole" fill="black" x="45" y="45" width="7" height="20"></rect>
			</g>
		</svg>
		<svg class="side" width="100px" height="100px">
			<rect fill="#efefef" width="74" height="74"></rect>
			<g>
				<rect fill="black" x="22" y="15" width="7" height="20"></rect>
				<rect fill="black" x="45" y="15	" width="7" height="20"></rect>
				<rect fill="black" x="22" y="45" width="7" height="20"></rect>
				<rect fill="black" x="45" y="45" width="7" height="20"></rect>
			</g>
		</svg>
	</div>
</div>


<svg class="game" ng-width="{{svgWidth}}" ng-height="{{svgHeight}}">

  <rect ng-repeat="(key, value) in holeCoord"  class="hole" ng-x="{{value[0]}}" ng-y="{{value[1]}}" ng-width="{{holeW}}" ng-height="{{holeH}}" />


  <circle class="dagger" cx="30" cy="50" ng-r="{{daggerSize}}" stroke="black" stroke-width="3" fill="red" />
        

</svg>

<div class="dagger" style="z-index: 50">
	<svg width="100" height="100">
	<image class="dagger" xlink:href="greenSword.png" height="50px" width="50px"/>
	</svg>
	
</div>





