<a href="#/main"><img src="../img/game/buttonBack.png" height="23" width="31"></a>

<div id="endMenu" ng-class="{{ending}}">
    <a ng-click="replay()" id="replay"><img src="../img/game/buttonReplay.png" height="50" width="50"></a>
    <a href="#/main" id="home"><img src="../img/game/buttonHome.png" height="50" width="50"></a>
</div>


<div 
	id="cube-hitarea" 
	style="left: {{boxLeft}}px; 
		   top: {{boxTop}}px; 
		   -ms-transform: scale({{boxScale}},{{boxScale}}); 
		   -webkit-transform: scale({{boxScale}},{{boxScale}});
		   transform: scale({{boxScale}},{{boxScale}});"
	ng-swipe-left="set(1)" ng-swipe-right="set(0)">

	<div id="cube" style="-webkit-transform: rotateX(-20deg) rotateY(-30deg) rotateZ(0deg);" >
        
        
        <svg class="side" width="100px" height="100px">
			<rect fill="#754c24" width="74" height="74"></rect>
		</svg>
		<svg class="side" width="100px" height="100px">
			<rect fill="#8c6239" width="74" height="74"></rect>
		</svg>
		<svg class="side right" id="surface_1" width="100px" height="100px">
			<rect fill="#603813" width="74" height="74"></rect>
			
            <g>
				<rect fill="black" x="18" y="15" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="48" y="15	" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="18" y="45" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="48" y="45" width="7" height="20" ng-click="insert($event)"></rect>
				
				<image ng-xlink-href="./img/game/{{imgSword.surface_1.hole[0].color}}_{{imgSword.surface_1.dir}}.png" xlink:href="" x="5" y="15" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_1.hole[1].color}}_{{imgSword.surface_1.dir}}.png" xlink:href="" x="35" y="15" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_1.hole[2].color}}_{{imgSword.surface_1.dir}}.png" xlink:href="" x="5" y="45" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_1.hole[3].color}}_{{imgSword.surface_1.dir}}.png" xlink:href=""  x="35" y="45" width="25px" height="25px"/>
			</g>
		</svg>
        
		<svg class="side" id="surface_3" width="100px" height="100px">
			<rect fill="#603813" width="74" height="74"></rect>
			<g>
				<rect fill="black" x="18" y="15" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="48" y="15	" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="18" y="45" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="48" y="45" width="7" height="20" ng-click="insert($event)"></rect>

				<image ng-xlink-href="./img/game/{{imgSword.surface_3.hole[0].color}}_{{imgSword.surface_3.dir}}.png" xlink:href="" x="5" y="15" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_3.hole[1].color}}_{{imgSword.surface_3.dir}}.png" xlink:href="" x="35" y="15" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_3.hole[2].color}}_{{imgSword.surface_3.dir}}.png" xlink:href="" x="5" y="45" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_3.hole[3].color}}_{{imgSword.surface_3.dir}}.png" xlink:href=""  x="35" y="45" width="25px" height="25px"/>
			</g>
		</svg>
		<svg class="side front" id="surface_0" width="100px" height="100px">
			<rect fill="#754c24" width="74" height="99"></rect>
			<g>	
				<rect fill="black" x="18" y="15" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="48" y="15	" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="18" y="45" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="48" y="45" width="7" height="20" ng-click="insert($event)"></rect>

				<image ng-xlink-href="./img/game/{{imgSword.surface_0.hole[0].color}}_{{imgSword.surface_0.dir}}.png" xlink:href="" x="5" y="15" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_0.hole[1].color}}_{{imgSword.surface_0.dir}}.png" xlink:href="" x="35" y="15" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_0.hole[2].color}}_{{imgSword.surface_0.dir}}.png" xlink:href="" x="5" y="45" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_0.hole[3].color}}_{{imgSword.surface_0.dir}}.png" xlink:href=""  x="35" y="45" width="25px" height="25px"/>
			</g>
		</svg>
		<svg class="side" id="surface_2" width="100px" height="100px">
			<rect fill="#754c24  " width="74" height="74"></rect>
			<g>
				<rect fill="black" x="18" y="15" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="48" y="15	" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="18" y="45" width="7" height="20" ng-click="insert($event)"></rect>
				<rect fill="black" x="48" y="45" width="7" height="20" ng-click="insert($event)"></rect>

				<image ng-xlink-href="./img/game/{{imgSword.surface_2.hole[0].color}}_{{imgSword.surface_2.dir}}.png" xlink:href="" x="5" y="15" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_2.hole[1].color}}_{{imgSword.surface_2.dir}}.png" xlink:href="" x="35" y="15" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_2.hole[2].color}}_{{imgSword.surface_2.dir}}.png" xlink:href="" x="5" y="45" width="25px" height="25px"/>
				<image ng-xlink-href="./img/game/{{imgSword.surface_2.hole[3].color}}_{{imgSword.surface_2.dir}}.png" xlink:href=""  x="35" y="45" width="25px" height="25px"/>
			</g>
		</svg>
	</div>
</div>


<!-------------------------------- head -------------------------------->


<div id="swordHolder_front">
</div>

<div id="swordHolder_right"></div>
<div 
	 id="cube-headarea" 
	 style="left: {{headLeft}}px; 
		    top: {{headTop}}px;" >

	<div id="cube-head" style="-webkit-transform: rotateX(-20deg) rotateY(-30deg) rotateZ(0deg);" >
		<svg class="side" width="105px" height="105px">
			<rect fill="#333333" width="74" height="74"></rect>
		</svg>
		<svg class="side" width="100px" height="100px">
			<rect fill="#ed1e79" width="74" height="74"></rect>
		</svg>
		<svg class="side" width="100px" height="100px">
			<image ng-xlink-href="../img/game/faceLeft.png" xlink:href=""  x="0" y="0" width="100%" height="100%"/>
		</svg>
		<svg class="side" width="100px" height="100px">
			<image ng-xlink-href="../img/game/faceBack.png" xlink:href=""  x="0" y="0" width="100%" height="100%"/>
		</svg>
		<svg class="side" width="100px" height="100px">
			<image ng-xlink-href="{{avatarFace}}" xlink:href=""  x="0" y="0" width="100%" height="100%"/>
            <image ng-xlink-href="../img/game/faceFront.png" xlink:href=""  x="0" y="0" width="100%" height="100%"/>
		</svg>
		<svg class="side" width="100px" height="100px">
			<image ng-xlink-href="../img/game/faceBack.png" xlink:href=""  x="0" y="0" width="100%" height="100%"/>
	</div>
</div>
    

<div style="background-color:{{bgColor}}; width:20px; height:70px"></div>